@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
/*회원가입 css*/
.wrapper {
	font-family: 'Hind Siliguri', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 150px;
}
.login-form {
	border-style:block;
}
.box {
	position:relative;
	padding:20px 0px 0px 20px;
	padding-right:30px;
	width:350px;
	height:450px;

	border:1px solid #66B1F2;
	border-radius: 0px 5px 5px 0px;
	background: #ffffff;
	position: relative;
	box-shadow: 3px 0px 2px rgba(102,177,241,0.8);
}
.title {
	font-size:30px;
}
 h2{
	justify-content: center;
	padding-top:100px;
	display: flex;
 }
 .Sign {
	color:#ffffff;
	width:300px;
	height:450px;
	background: rgba(102,177,241,0.8);
 }
input {
	width:95%;
	padding:10px 0px 10px 10px;
	margin-right: 20px;
  border: 1px solid #CFCFCF;
	border-radius:5px;
}
input[type="text"] {
	margin:10px;
}
input[type="password"] {
	margin:10px;
}
.login-form{
	align-items: center;
}

#check{
	padding:15px 10px 0px 0px;
	margin-left: 3px;
	background-color:#ffffff;
	border:0px;
	color:#000000;
}
#check:hover{
	background: rgba(102,177,241,0.8);
	color:#ffffff;
	transition: all 0.5s ease;
}
#asdf{
	padding:12px;
	width:80%;
	margin:15px 0px 0px 35px;
	background-color:#ffffff;
	color:#66B1F2;
	border: 1px solid #66B1F2;
	font-size:15px;
	transition: all 0.5s ease;
}
#asdf:hover{
	background: rgba(102,177,241,0.8);
	color:#ffffff;
	transition: all 0.5s ease;
}

.b{
	margin-left:200px;
}
.c {
	justify-content: center;
	display: flex;
	margin:100px 50px 0px 50px;
	padding:10px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	cursor: pointer;
	font-size:15px;
	transition: all 0.5s ease;

}
.c:hover{
	background: #ffffff;
	color:rgba(102,177,241,0.8);
	transition: all 0.5s ease;

}
a{
	text-decoration:none;
}
